.Page {
    display: block;
    text-align: center;
}

.TopSection {
    display: block;
    text-align: center;
    margin-bottom: 2em;
}

.BottomSection {
    display: block;
    text-align: center;
}
.MainTitle {
    font-size: 4em;
    margin: 0;
    margin-bottom: .5em;
}

.SubTitle {
    font-size: 3em;
    margin: 0;
}

.SubDesc {
    font-size: 2.5em;
    margin: 0;
    margin-top: .75em;
    margin-bottom: .75em;
}
.ContactText {
    font-size: 2em;
    font-style: italic;
    transition: font-size 0.15s ease;
    cursor: pointer;
    margin: .1em;
}
    .ContactText:hover {
        font-size: 2.1em;
        margin: 0;
    }

.ContactBoxes {
    margin: 2em;
    display: inline-block;
    width: 45em;
    height: 30em;
    background-color: gray;
    vertical-align: top;
    padding-bottom: 2em;
}
.ContactBox2 {
    margin: 2em;
    display: inline-block;
    width: 45em;
    height: 12em;
    background-color: gray;
    vertical-align: top;
    padding-bottom: 2em;
    text-align: center;
}
.SocalMediaLogo1 {
    width: 5em;
    margin: .25em;
    margin-right: 1.25em;
    margin-left: 1.25em;
    transition: 0.15s ease;
    cursor: pointer;
}
    .SocalMediaLogo1:hover {
        width: 5.5em;
        margin: 0;
        margin-right: 1em;
        margin-left: 1em;
    }