p {
    font-family: 'Times New Roman', Times, serif;
}
.Page{
    display: block;
    text-align: center;
}
/* Top Section Styles */
.TopSection {
    display: block;
    text-align: center;
    margin-bottom: 2em;
}
.MainTitle {
    font-size: 4em;
    margin:0;
}
.SubTitle {
    font-size: 2em;
    margin: 0;
}
/* Top Section Styles */
/* SubSection Styles */
.SubSection {
    width: 45em;
    display: inline-block;
    align-content: center;
    vertical-align: top;
}
.ParagraphText {
    font-size: 1.2em;
    margin-bottom: 20px;
}
.ListText {
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 20px;
}
.Button {
    align-content: center;
    font-size: 2em;
    width: 12em;
    height: 2.5em;
    transition-duration: 150ms;
    background-color: #d1d1d1;
    border: 2px solid black;
    border-radius: .5em;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    text-decoration: none;
}
    .Button:hover {
        background-color: #272727;
        color: white;
    }

.CateringMenuImage {
    margin-Top: 2em;
    height: 42em;
    transition-duration: 150ms;
    margin-bottom: 1em;
}
    .CateringMenuImage:hover {
        height: 43em;
        cursor: pointer;
        margin-bottom: 0;
    }
/* SubSection Styles */
/* ImmageBar Styles */
.ImageBar {
    display: block;
    align-content: center;
    text-align: center;
}
.ImmageBarImage {
    display: inline-block;
    align-content: center;
    width: 20em;
    margin: .5em;
    margin-top: 1em;
    margin-bottom: 1em;
    vertical-align: middle;
}