/*top bar*/
body {
    margin: 0;
    margin-bottom: 6vh;
    padding: 0;
}


.TopBar {
    background-color: black;
    width: 100%;
    height: 12vh;
    align-content: center;
    text-align: center;
    margin:0;
    padding:0;
}
.TopBarText {
    vertical-align: middle;
    align-content: center;
    width: 14.5vw;
    height: 8.2vh;
    font-weight: bold;
    display: inline-block;
    vertical-align: central;
    font-size: 1.8vw;
    color: white;
    background-color: black;
    border-color: white;
    border: solid;
    border-width: .1vw;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1vw;
    margin-left: 1vw;
}
    .TopBarText:hover {
        background-color: #808080;
        color: white;
        border-color: white;
    }
    .TopBarText:active {
        background-color: white;
        color: black;
        border-color: white;
    }

.Logo {
    display: inline-block;
    height: 8.2vh;
    vertical-align: middle;
}






/*bottom bar*/
.BottemBar {
    background-color: black;
    width: 100%;
    height: 6vh;
    bottom: 0;
    position: fixed;
}

.BottemBarText {
    color: white;
    margin: 0;
    font-size: 1.25vh;
    display: block;
}

.BottemBarLink {
    color: white;
    font-size: 1vh;
    margin-right: 1vw;
    vertical-align: top;
    display: inline-block;
    text-decoration: underline;
}

.BottemBottemBarLink {
    color: white;
    margin-top: 1vh;
    vertical-align: top;
    font-size: 1vh;
    display: inline-block;
    text-decoration: underline;
}

.LogoBoxMini {
    display: inline-block;
    align-content: center;
    text-align: center;
    padding-right: 2vh;
    padding-left: 2vh;
    height: 100%;
}

.LogoMini {
    height: 80%;
}

.CreditBox {
    padding-top: 1vh;
    padding-bottom: 1vh;
    vertical-align: top;
    display: inline-block;
    text-align: left;
}
.SocialBox {
    display: inline-block;
    text-align: left;
    right: 0;
    position: absolute;
    margin-right: 2vw;
    height: 6vh;
}
.SocalMediaLogo {
    display: inline-block;
    height: 4vh;
    margin-right: .5vw;
    cursor: pointer;
    margin-top: 1vh;
}